Repository slawqo/tobiko: changes, and which Zuul jobs are due for each by the changed paths.
All: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

tobiko-devstack-functional:
  parent: tobiko-devstack
  description: 'Base Tobiko devstack job to execute functional tests.
  
    '
  vars:
    test_workflow: functional

tobiko-devstack-functional-centos-8:
  parent: tobiko-devstack-functional
  nodeset: devstack-single-node-centos-8

tobiko-devstack-functional-ubuntu-bionic:
  parent: tobiko-devstack-functional
  nodeset: openstack-single-node-bionic
  voting: false

tobiko-devstack-functional-ubuntu-focal:
  parent: tobiko-devstack-functional
  nodeset: openstack-single-node-focal
  voting: false

tobiko-devstack-faults-centos-8:
  parent: tobiko-devstack-faults
  nodeset: tobiko-three-node-centos-8
  voting: false

tobiko-devstack-faults-ubuntu-bionic:
  parent: tobiko-devstack-faults
  nodeset: openstack-three-node-bionic
  voting: false
  vars:
    devstack_services:
      tls-proxy: true
  group-vars:
    subnode:
      devstack_services:
        tls-proxy: true

tobiko-devstack-faults-ubuntu-focal:
  parent: tobiko-devstack-faults
  nodeset: tobiko-three-node-focal
  voting: false
  vars:
    devstack_services:
      tls-proxy: true
  group-vars:
    subnode:
      devstack_services:
        tls-proxy: true

tobiko-infrared:
  parent: tox
  nodeset: tobiko-infrared-centos
  timeout: 3600
  description: 'Run test cases using tobiko infrared plugin
  
    '
  pre-run: playbooks/infrared/pre.yaml
  run: playbooks/infrared/run.yaml
  required-projects:
  - name: openstack/requirements
  - name: x/tobiko
  voting: true
  vars:
  ...

tobiko-infrared-centos-7:
  parent: tobiko-infrared
  nodeset: tobiko-infrared-centos-7
  voting: true
  description: 'Run test cases using tobiko infrared plugin on CentOS
  
    '

tobiko-infrared-fedora:
  parent: tobiko-infrared
  nodeset: tobiko-infrared-fedora
  voting: false
  description: 'Run test cases using tobiko infrared plugin on Fedora
  
    '

tobiko-infrared-ubuntu:
  parent: tobiko-infrared
  nodeset: tobiko-infrared-ubuntu
  voting: false
  description: 'Run test cases using tobiko infrared plugin on Ubuntu
  
    '

tobiko-tempest:
  parent: devstack-tempest
  timeout: 7800
  required-projects:
  - openstack/tobiko
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tobiko'''
    devstack_services:
      c-bak: false
      ceilometer-acentral: false
      ceilometer-acompute: false
  ...

tobiko-devstack-octavia-functional:
  parent: tobiko-devstack-octavia
  description: 'Base Tobiko devstack job to execute functional tests.
  
    '
  vars:
    tox_envlist: functional

tobiko-devstack-octavia-scenario:
  parent: tobiko-devstack-octavia
  nodeset: openstack-single-node
  description: 'Integration test that runs all tests against DevStack provided cloud
  
    '
  vars:
    tox_envlist: scenario

tobiko-devstack-octavia-scenario-centos-7:
  parent: tobiko-devstack-octavia-scenario-multinode
  nodeset: openstack-three-node-centos-7
  voting: false
  vars:
    devstack_localrc:
      USE_PYTHON3: false

Ignore HTML report files
  .gitignore
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix typo in InfrRed spec file.
  infrared_plugin/plugin.spec
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update README.rst file
  README.rst
Due: none

Speedup documentation page generation
  tox.ini
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update tobiko.conf documentation page
  .gitignore
  doc/source/_static/tobiko.conf.sample
  doc/source/_static/tobiko.conf.txt
  doc/source/conf.py
  doc/source/configuration/index.rst
  doc/source/configuration/samples/tobiko.rst
  doc/source/configuration/tobiko.rst
  doc/source/content.rst
  doc/source/contents.rst
  doc/source/etc/index.rst
  doc/source/etc/tobiko.conf.gen
  doc/source/etc/tobiko.conf.rst
  doc/source/index.rst
  etc/README.txt
  etc/oslo-config-generator/tobiko.conf
  etc/tobiko.conf.example
  tobiko.conf.example
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Restructure Octavia stacks
  tobiko/openstack/octavia/__init__.py
  tobiko/openstack/octavia/_waiters.py
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_octavia.py
  tobiko/openstack/stacks/octavia/listener.yaml
  tobiko/tests/faults/octavia/test_faults.py
  tobiko/tests/faults/octavia/test_services.py
  tobiko/tests/scenario/octavia/test_traffic.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add default_timeout parameter to ubuntu stack
  tobiko/openstack/stacks/_octavia.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update bindep file to support Debian Linux
  bindep.txt
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix bindeps installation on CentOS
  tools/install-bindeps.sh
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Use default value specified for tobiko.conf when --debug option is not given
  infrared_plugin/plugin.spec
  roles/tobiko-configure/defaults/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Mark test as flacky OvercloudHealthCheck.test_controllers_shutdown
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Gate project using basic ARM64 functional job
  zuul.d/docker.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Refactor Tobiko installation guide
  doc/source/user/_install_venv.rst
  doc/source/user/index.rst
  doc/source/user/install.rst
  doc/source/user/quick-start.rst
Due: none

Mark test_qos test cases as flaky
  tobiko/tests/scenario/neutron/test_qos.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Mark test_curl.py tests as flaky
  tobiko/tests/functional/shell/test_curl.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-ovn-functional, tobiko-tripleo-functional

Run the tobiko-docker-py3 job only on gate pipeline
  zuul.d/docker.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Mark test_router_is_scheduled_on_l3_agents test case as flaky
  tobiko/tests/scenario/neutron/test_router.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Skip flaky test cases with IR plugin
  infrared_plugin/plugin.spec
  roles/tobiko-ensure-python3/vars/py3-MacOSX.yaml
  roles/tobiko-run/vars/test-workflow-functional.yaml
  roles/tobiko-run/vars/test-workflow-gate.yaml
  roles/tobiko-run/vars/test-workflow-unit.yaml
  roles/tobiko-tox/defaults/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Revert "Gate project using basic ARM64 functional job"
  zuul.d/docker.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Mark test_trunk test cases as flaky
  tobiko/tests/scenario/neutron/test_trunk.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Check project using basic ARM64 functional job
  zuul.d/docker.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Handle maxfail pytest option from InfraRed plugin
  infrared_plugin/plugin.spec
  roles/tobiko-run/vars/test-workflow-faults-iha.yaml
  roles/tobiko-run/vars/test-workflow-faults-neutron.yaml
  roles/tobiko-run/vars/test-workflow-faults.yaml
  roles/tobiko-tox/defaults/main.yaml
  roles/tobiko-tox/tasks/tox.yaml
  tox.ini
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Mark test_port.py test case as flaky
  tobiko/tests/scenario/neutron/test_port.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Revert "Mark test_curl.py tests as flaky"
  tobiko/tests/functional/shell/test_curl.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-ovn-functional, tobiko-tripleo-functional

Mark test_serve.py test cases as flaky
  tobiko/tests/scenario/nova/test_server.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Fix AttributeError: 'ParseResult' object has no attribute 'rsplit
  tobiko/tripleo/containers.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add git describe output to HTML report file
  tobiko/tests/conftest.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Skip test_server when not valid host for migration is found.
  tobiko/openstack/nova/__init__.py
  tobiko/openstack/nova/_client.py
  tobiko/tests/scenario/nova/test_server.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[IR plugin] source dir should be found on localhost
  infrared_plugin/roles/tobiko-ir-deploy/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Delete stack when its detected to be invalid
  tobiko/openstack/heat/__init__.py
  tobiko/openstack/heat/_stack.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update Nova client error handling
  tobiko/openstack/nova/__init__.py
  tobiko/openstack/nova/_client.py
  tobiko/tests/scenario/nova/test_server.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix same/different host network tests
  tobiko/openstack/nova/__init__.py
  tobiko/openstack/nova/_hypervisor.py
  tobiko/openstack/stacks/_nova.py
  tobiko/tests/scenario/neutron/test_network.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add typing hits to Nova client
  tobiko/openstack/nova/_client.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Ensures server instance exists when validating its stack
  tobiko/tests/scenario/nova/test_server.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Use Fedora 34 for the lower-constraints and Infrared containers
  Dockerfile
  infrared_plugin/Dockerfile
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update NetworkTest cases descriptions
  tobiko/tests/scenario/neutron/test_network.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Update fixture module typing hints
  tobiko/common/_fixture.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Allow containers to write to ~/.ssh
  docker-compose.yml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Ignore named report files .gitignore
  .gitignore
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Enforce stack re-creation attempt when can't ensure nova scheduler hints
  tobiko/openstack/stacks/_nova.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Path conditions:
  tobiko-devstack-functional: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/)
  tobiko-devstack-functional-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-ubuntu-bionic: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/)
  tobiko-devstack-faults-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-infrared: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-centos-7: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-fedora: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-ubuntu: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-devstack-octavia-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-train: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-tripleo-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-tripleo-faults: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
