Repository slawqo/tobiko: changes, and which Zuul jobs are due for each by the changed paths.
All: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Path conditions:
  tobiko-devstack-functional: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/)
  tobiko-devstack-functional-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-ubuntu-bionic: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/)
  tobiko-devstack-faults-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-infrared: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-centos-7: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-fedora: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-ubuntu: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-devstack-octavia-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-train: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-tripleo-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-tripleo-faults: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/

Redirect stderr of pcs resource enable/disable commands
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Update latest stable tag to 0.6.1
  infrared_plugin/roles/tobiko-ir-init/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

skip test_1_dvr_router_without_server during verify-resources
  tobiko/tests/scenario/neutron/test_router.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Remove test_ovs module from the faults tests for neutron
  tobiko/tests/faults/neutron/test_ovs.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Use unsafe option in the pre-commit's check-yaml hook
  .pre-commit-config.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add tobiko-upload-git-mirror job
  zuul.d/others.yaml
  zuul.d/project.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Don't skip 'test_ovs_bridges_mac_table_size' test for OSP17.0 and above.
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Move OVN DB service model querier to trripleo module
  tobiko/openstack/tests/__init__.py
  tobiko/openstack/tests/_neutron.py
  tobiko/tripleo/_overcloud.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix sphinx_rtd_theme in doc requirements
  doc/requirements.txt
Due: none

Create module to capture output of ss command
  releasenotes/notes/Added-parser-for-`ss`-command-ac426b522eb8adbe.yaml
  tobiko/openstack/tests/__init__.py
  tobiko/openstack/tests/_neutron.py
  tobiko/shell/ss.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

test_check_background_vm_ping: print all unreplied pings
  tobiko/shell/ping/_ping.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Remove "heat-admin" harcoded overcloud username from the code
  tobiko/podman/_client.py
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Collect unix socket information using existing ss module
  tobiko/openstack/tests/_neutron.py
  tobiko/shell/ss.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add test that verifies connectivity from computes to OVN DBS
  tobiko/openstack/tests/__init__.py
  tobiko/openstack/tests/_neutron.py
  tobiko/shell/ss.py
  tobiko/tests/faults/neutron/test_raft.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix test_reboot_host_with_wait - wait after reboot
  tobiko/shell/sh/_reboot.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix galera grastate faults tests
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Skip test_reset_ovndb_master_container when OVN does not use HA
  tobiko/tests/faults/ha/test_cloud_recovery.py
  tobiko/tests/faults/neutron/test_raft.py
  tobiko/tripleo/_overcloud.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix the exception raised during assert_containers_running method
  tobiko/tripleo/containers.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Adapt main_vip to pacemaker command output in case of IPv6
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Fix pylint errors with pandas 1.5.0
  tobiko/tripleo/containers.py
  tobiko/tripleo/nova.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix the problem with ss command line output parser
  tobiko/shell/ss.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update latest stable tag to 0.6.2
  infrared_plugin/roles/tobiko-ir-init/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Skip test_z99_crash_controller_non_main_vip unless kexec-tools available
  tobiko/tests/faults/ha/test_cloud_recovery.py
  tobiko/tripleo/_overcloud.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update github's deploy SSH secrets
  zuul.d/others.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Optimize get_cmd_pids and list_pids methods
  tobiko/tests/faults/neutron/test_agents.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Update private key which should be used to sync github mirror
  zuul.d/others.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add skippers to octavia-amphora ssh fault tests
  tobiko/tests/faults/octavia/test_faults.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Add assert for haproxy service
  tobiko/tests/faults/neutron/test_agents.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Pull flake8 from Github
  .pre-commit-config.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update URL for flake8 from gitlab to github
  .pre-commit-config.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix octavia services test on jobs with networker nodes
  tobiko/tests/faults/octavia/test_services.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Remove unit and functional tests from tobiko d/s gate workflow
  roles/tobiko-run/vars/test-workflow-gate.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add roles/tobiko-run/vars/test-workflow-create-resources-faults.yaml
  roles/tobiko-run/vars/test-workflow-create-resources-faults.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Translate hostname to IP when the main_vip is obtained
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

doc: Fix spelling mistake
  doc/source/contributor/contributor.rst
Due: none

Remove sanity tests from Octavia faults workflow
  roles/tobiko-run/vars/test-workflow-octavia-faults.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update latest stable tag to 0.6.3
  infrared_plugin/roles/tobiko-ir-init/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[BGP] Add configurable overcloud_groups_dict
  tobiko/tripleo/_topology.py
  tobiko/tripleo/config.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[BGP] Fix test_equal_containers_state
  tobiko/tests/sanity/containers/test_containers.py
  tobiko/tripleo/containers.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[BGP] undercloud_ssh_key_filename added to infrared plugin options
  infrared_plugin/plugin.spec
  roles/tobiko-configure/defaults/main.yaml
  roles/tobiko-configure/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults
