Repository slawqo/tobiko: changes, and which Zuul jobs are due for each by the changed paths.
All: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

tobiko-devstack-functional:
  parent: tobiko-devstack
  description: 'Base Tobiko devstack job to execute functional tests.
  
    '
  vars:
    test_workflow: functional

tobiko-devstack-functional-centos-8:
  parent: tobiko-devstack-functional
  nodeset: devstack-single-node-centos-8

tobiko-devstack-functional-ubuntu-bionic:
  parent: tobiko-devstack-functional
  nodeset: openstack-single-node-bionic
  voting: false

tobiko-devstack-functional-ubuntu-focal:
  parent: tobiko-devstack-functional
  nodeset: openstack-single-node-focal
  voting: false

tobiko-devstack-faults-centos-8:
  parent: tobiko-devstack-faults
  nodeset: tobiko-three-node-centos-8
  voting: false

tobiko-devstack-faults-ubuntu-bionic:
  parent: tobiko-devstack-faults
  nodeset: openstack-three-node-bionic
  voting: false
  vars:
    devstack_services:
      tls-proxy: true
  group-vars:
    subnode:
      devstack_services:
        tls-proxy: true

tobiko-devstack-faults-ubuntu-focal:
  parent: tobiko-devstack-faults
  nodeset: tobiko-three-node-focal
  voting: false
  vars:
    devstack_services:
      tls-proxy: true
  group-vars:
    subnode:
      devstack_services:
        tls-proxy: true

tobiko-tempest:
  parent: devstack-tempest
  timeout: 7800
  required-projects:
  - openstack/tobiko
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tobiko'''
    devstack_services:
      c-bak: false
      ceilometer-acentral: false
      ceilometer-acompute: false
  ...

tobiko-devstack-octavia-functional:
  parent: tobiko-devstack-octavia
  description: 'Base Tobiko devstack job to execute functional tests.
  
    '
  vars:
    tox_envlist: functional

tobiko-devstack-octavia-scenario:
  parent: tobiko-devstack-octavia
  nodeset: openstack-single-node
  description: 'Integration test that runs all tests against DevStack provided cloud
  
    '
  vars:
    tox_envlist: scenario

tobiko-devstack-octavia-scenario-centos-7:
  parent: tobiko-devstack-octavia-scenario-multinode
  nodeset: openstack-three-node-centos-7
  voting: false
  vars:
    devstack_localrc:
      USE_PYTHON3: false

tobiko-devstack-octavia-scenario-ubuntu-bionic:
  parent: tobiko-devstack-octavia-scenario-multinode
  nodeset: openstack-three-node-bionic
  vars:
    devstack_services:
      tls-proxy: true
  group-vars:
    subnode:
      devstack_services:
        tls-proxy: true

tobiko-devstack-ovn-functional:
  parent: tobiko-devstack-ovn
  voting: true
  description: 'Base Tobiko devstack job to execute functional tests.
  
    '
  vars:
    tox_envlist: functional

tobiko-devstack-ovn-faults-centos-7:
  parent: tobiko-devstack-ovn-faults
  nodeset: openstack-three-node-centos-7
  voting: false
  vars:
    devstack_localrc:
      USE_PYTHON3: false
    tox_python_version: 2

tobiko-devstack-ovn-faults-centos-7-queens:
  parent: tobiko-devstack-ovn-faults-centos-7
  override-checkout: stable/queens
  voting: false

Fix connectivity issue during external bridge recreation test
  tobiko/tests/faults/neutron/test_ovs.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Add some OVN containers recovery tests
  tobiko/openstack/tests/_neutron.py
  tobiko/tests/faults/containers/container_ops.py
  tobiko/tests/faults/ha/cloud_disruptions.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
  tobiko/tests/faults/neutron/test_agents.py
  tobiko/tripleo/containers.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add openstack client tests
  extra-requirements.txt
  tobiko/openstack/openstackclient/__init__.py
  tobiko/openstack/openstackclient/_client.py
  tobiko/openstack/openstackclient/_exception.py
  tobiko/openstack/openstackclient/_network.py
  tobiko/openstack/openstackclient/_port.py
  tobiko/openstack/openstackclient/_security_group.py
  tobiko/openstack/openstackclient/_security_group_rule.py
  tobiko/openstack/openstackclient/_subnet.py
  tobiko/shell/sh/__init__.py
  tobiko/tests/scenario/neutron/test_cli.py
  tobiko/tripleo/__init__.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Avoid retrying an invalid SSH key_filename twice
  tobiko/shell/ssh/_client.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Increase default connection timeout for CentOS VMs from 400 to 800 seconds
  tobiko/openstack/stacks/_centos.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix shell execute
  tobiko/shell/sh/__init__.py
  tobiko/shell/sh/_exception.py
  tobiko/shell/sh/_execute.py
  tobiko/shell/sh/_process.py
  tobiko/shell/sh/_ssh.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add type hints to keystone package
  tobiko/openstack/keystone/__init__.py
  tobiko/openstack/keystone/_credentials.py
  tobiko/openstack/keystone/_session.py
  tobiko/tests/functional/openstack/test_keystone.py
  tobiko/tests/unit/openstack/keystone/test_session.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add get_keystone_token and get_keystone_endpoint functions
  tobiko/openstack/keystone/__init__.py
  tobiko/openstack/keystone/_session.py
  tobiko/tests/functional/openstack/test_keystone.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Check and gate project using CentOS
  zuul.d/project.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix how OVN process validations filter node names
  tobiko/tripleo/processes.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add platform python test case for CentOS VMs
  tobiko/tests/functional/openstack/stacks/test_centos.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-ovn-functional, tobiko-tripleo-functional

Use Ubuntu Focal cloud image
  tobiko/openstack/stacks/_ubuntu.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Gate changes using the scenario single-node OVN job
  zuul.d/project.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add function to list remote host nameservers
  tobiko/shell/sh/__init__.py
  tobiko/shell/sh/_nameservers.py
  tobiko/tests/functional/shell/test_nameservers.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add functions to create and delete a network
  tobiko/openstack/neutron/__init__.py
  tobiko/openstack/neutron/_cidr.py
  tobiko/openstack/neutron/_client.py
  tobiko/openstack/neutron/_network.py
  tobiko/tests/functional/openstack/test_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Use tobiko host nameservers for tenant subnets
  tobiko/openstack/neutron/__init__.py
  tobiko/openstack/neutron/_nameservers.py
  tobiko/openstack/neutron/config.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/tests/functional/openstack/stacks/test_cirros.py
  tobiko/tests/functional/openstack/stacks/test_ubuntu.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Check OVN DBs listening on VIP (BZ1600151)
  tobiko/openstack/tests/__init__.py
  tobiko/openstack/tests/_neutron.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
  tobiko/tripleo/containers.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add verification of mac-table-size values
  tobiko/openstack/tests/__init__.py
  tobiko/openstack/tests/_neutron.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

gitignore add .idea
  .gitignore
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

adding messaging node possibility
  tobiko/tests/faults/ha/cloud_disruptions.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Reduce Ubuntu Server memory to 256 MB
  tobiko/openstack/stacks/_ubuntu.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Skip python3 package installation on CentOS servers
  tobiko/openstack/stacks/_centos.py
  tobiko/tests/functional/openstack/stacks/test_centos.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Verify network agents are alive when tests end
  tobiko/openstack/tests/_neutron.py
  tobiko/tests/faults/neutron/test_agents.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Switch tripleo job to content provider
  zuul.d/project.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Reduce memory assigned to CentOS servers to 256MB
  tobiko/openstack/nova/_cloud_init.py
  tobiko/openstack/stacks/_centos.py
  tobiko/openstack/stacks/_nova.py
  tobiko/tests/functional/openstack/stacks/test_centos.py
  tobiko/tests/functional/openstack/stacks/test_cirros.py
  tobiko/tests/unit/openstack/nova/test_cloud_init.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add swap file to Ubuntu servers
  tobiko/openstack/stacks/_ubuntu.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Openstack CLI tests failed on devstack
  tobiko/openstack/keystone/_clouds_file.py
  tobiko/openstack/keystone/_credentials.py
  tobiko/openstack/keystone/_session.py
  tobiko/openstack/openstackclient/_client.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Increase the number of ping packages sent to nameservers
  tobiko/shell/ping/_parameters.py
  tobiko/shell/ping/_ping.py
  tobiko/tests/functional/openstack/stacks/test_cirros.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

kill all galera processes
  tobiko/tests/faults/ha/cloud_disruptions.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Test opening ports on an external network
  tobiko/common/_fixture.py
  tobiko/openstack/neutron/config.py
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_cirros.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/openstack/stacks/_nova.py
  tobiko/openstack/stacks/neutron/external_network.yaml
  tobiko/tests/scenario/neutron/test_port.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix skip of faults OVN agents tests when there is no OVN in env
  tobiko/tests/faults/neutron/test_agents.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Drop python3.7 platform in favor of phython3.9
  zuul.d/project.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Skip test cases unless external network is available
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/tests/functional/openstack/stacks/test_neutron.py
  tobiko/tests/scenario/neutron/test_port.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix OVN DB verifications from ovn_dbs_are_synchronized
  tobiko/openstack/tests/_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Get IR from master branch version
  infrared_plugin/requirements.txt
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update documentation
  README.rst
  doc/requirements.txt
Due: none

Gate changes using devstack-tobiko-scenario-ovn-centos job
  zuul.d/project.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Gate changes using devstack-tobiko-functional-ovn-centos job
  zuul.d/project.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Correct some typos in test_port.py
  tobiko/tests/scenario/neutron/test_port.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Change 'get_main_vip()' function so that it could treat both ipv4 and ipv6 addresses
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Path conditions:
  tobiko-devstack-functional: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/)
  tobiko-devstack-functional-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-ubuntu-bionic: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/)
  tobiko-devstack-faults-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-devstack-octavia-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-train: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-tripleo-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-tripleo-faults: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
