Repository slawqo/tobiko: changes, and which Zuul jobs are due for each by the changed paths.
All: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

tobiko-devstack-functional:
  parent: tobiko-devstack
  description: 'Base Tobiko devstack job to execute functional tests.
  
    '
  vars:
    test_workflow: functional

tobiko-devstack-functional-centos-8:
  parent: tobiko-devstack-functional
  nodeset: devstack-single-node-centos-8

tobiko-devstack-functional-ubuntu-bionic:
  parent: tobiko-devstack-functional
  nodeset: openstack-single-node-bionic
  voting: false

tobiko-devstack-functional-ubuntu-focal:
  parent: tobiko-devstack-functional
  nodeset: openstack-single-node-focal
  voting: false

tobiko-devstack-faults-centos-8:
  parent: tobiko-devstack-faults
  nodeset: tobiko-three-node-centos-8
  voting: false

tobiko-devstack-faults-ubuntu-bionic:
  parent: tobiko-devstack-faults
  nodeset: openstack-three-node-bionic
  voting: false
  vars:
    devstack_services:
      tls-proxy: true
  group-vars:
    subnode:
      devstack_services:
        tls-proxy: true

tobiko-devstack-faults-ubuntu-focal:
  parent: tobiko-devstack-faults
  nodeset: tobiko-three-node-focal
  voting: false
  vars:
    devstack_services:
      tls-proxy: true
  group-vars:
    subnode:
      devstack_services:
        tls-proxy: true

tobiko-infrared:
  parent: tox
  nodeset: tobiko-infrared-centos
  timeout: 3600
  description: 'Run test cases using tobiko infrared plugin
  
    '
  pre-run: playbooks/infrared/pre.yaml
  run: playbooks/infrared/run.yaml
  required-projects:
  - name: openstack/requirements
  - name: x/tobiko
  voting: true
  vars:
  ...

tobiko-infrared-centos-7:
  parent: tobiko-infrared
  nodeset: tobiko-infrared-centos-7
  voting: true
  description: 'Run test cases using tobiko infrared plugin on CentOS
  
    '

tobiko-infrared-fedora:
  parent: tobiko-infrared
  nodeset: tobiko-infrared-fedora
  voting: false
  description: 'Run test cases using tobiko infrared plugin on Fedora
  
    '

tobiko-infrared-ubuntu:
  parent: tobiko-infrared
  nodeset: tobiko-infrared-ubuntu
  voting: false
  description: 'Run test cases using tobiko infrared plugin on Ubuntu
  
    '

tobiko-tempest:
  parent: devstack-tempest
  timeout: 7800
  required-projects:
  - openstack/tobiko
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tobiko'''
    devstack_services:
      c-bak: false
      ceilometer-acentral: false
      ceilometer-acompute: false
  ...

tobiko-devstack-octavia-functional:
  parent: tobiko-devstack-octavia
  description: 'Base Tobiko devstack job to execute functional tests.
  
    '
  vars:
    tox_envlist: functional

tobiko-devstack-octavia-scenario:
  parent: tobiko-devstack-octavia
  nodeset: openstack-single-node
  description: 'Integration test that runs all tests against DevStack provided cloud
  
    '
  vars:
    tox_envlist: scenario

tobiko-devstack-octavia-scenario-centos-7:
  parent: tobiko-devstack-octavia-scenario-multinode
  nodeset: openstack-three-node-centos-7
  voting: false
  vars:
    devstack_localrc:
      USE_PYTHON3: false

Use Subnet pools to avoid cidr concurrency issues
  lower-constraints.txt
  requirements.txt
  roles/tobiko-cleanup/tasks/main.yaml
  tobiko/config.py
  tobiko/openstack/neutron/__init__.py
  tobiko/openstack/neutron/_cidr.py
  tobiko/openstack/neutron/_subnet.py
  tobiko/openstack/neutron/_subnet_pool.py
  tobiko/openstack/neutron/config.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/openstack/stacks/neutron/network.yaml
  tobiko/tests/faults/neutron/test_agents.py
  tobiko/tests/functional/openstack/neutron/test_router.py
  tobiko/tests/functional/openstack/neutron/test_subnet.py
  tobiko/tests/functional/openstack/stacks/test_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Create only one Sec Group per fixture
  roles/tobiko-cleanup/tasks/main.yaml
  tobiko/openstack/stacks/_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Workaround to avoid connectivity problems from ubuntu VM instances
  tobiko/openstack/neutron/config.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Unskip UbuntuExternalPortTest tests on upstream jobs
  tobiko/openstack/topology/_topology.py
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Don't run some of the stateless SG tests in ovn migration workflow
  pytest.ini
  tobiko/tests/scenario/neutron/test_security_groups.py
  tox.ini
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add new tox env and workflow for ovn_migration sanity tests
  roles/tobiko-run/vars/test-workflow-check-resources-ovn-migration.yaml
  tox.ini
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add faults ovn_bgp_agent and frr tests
  tobiko/openstack/neutron/__init__.py
  tobiko/openstack/neutron/_agent.py
  tobiko/openstack/tests/__init__.py
  tobiko/openstack/tests/_nova.py
  tobiko/openstack/topology/__init__.py
  tobiko/openstack/topology/_topology.py
  tobiko/shell/sh/_systemctl.py
  tobiko/tests/faults/ha/cloud_disruptions.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
  tobiko/tests/faults/octavia/test_services.py
  tobiko/tripleo/__init__.py
  tobiko/tripleo/_overcloud.py
  tobiko/tripleo/_topology.py
  tobiko/tripleo/services.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[BGP] Port tests without FIP
  tobiko/openstack/neutron/__init__.py
  tobiko/openstack/neutron/_router.py
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_cirros.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/openstack/tests/_nova.py
  tobiko/openstack/topology/_topology.py
  tobiko/tests/scenario/neutron/test_port.py
  tobiko/tripleo/_overcloud.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update latest stable tag to 0.6.9
  infrared_plugin/roles/tobiko-ir-init/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Skip some more tests related to ovn-migration
  tobiko/tests/scenario/neutron/test_security_groups.py
  tox.ini
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Make test_z99_reboot_controller_galera_main_vip more stable
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Fix error message when a stack is not deleted
  tobiko/openstack/heat/_stack.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Remove Fedora, Centos and RHEL from tobiko tests
  doc/source/_static/tobiko.conf.sample
  tobiko/openstack/glance/config.py
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_centos.py
  tobiko/openstack/stacks/_fedora.py
  tobiko/openstack/stacks/_redhat.py
  tobiko/tests/functional/openstack/stacks/test_centos.py
  tobiko/tests/functional/openstack/stacks/test_fedora.py
  tobiko/tests/functional/openstack/stacks/test_red_hat.py
  tobiko/tests/functional/shell/test_ip.py
  tobiko/tests/functional/shell/test_ping.py
  tobiko/tests/scenario/nova/test_server.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Allow custom ubuntu timeouts
  infrared_plugin/plugin.spec
  roles/tobiko-configure/defaults/main.yaml
  tobiko/openstack/nova/config.py
  tobiko/openstack/stacks/_nova.py
  tobiko/openstack/stacks/_ubuntu.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Improve Octavia ovn provider scenario test
  tobiko/openstack/octavia/_validators.py
  tobiko/openstack/stacks/_octavia.py
  tobiko/tests/scenario/octavia/test_traffic.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix Octavia validators error about missing member
  tobiko/openstack/octavia/_validators.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Skip test_ovs_interfaces_are_absent after ovs2ovn
  tobiko/tests/sanity/neutron/test_nodes.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Remove Heat stacks from Octavia
  tobiko/openstack/octavia/__init__.py
  tobiko/openstack/octavia/_amphora.py
  tobiko/openstack/octavia/_client.py
  tobiko/openstack/octavia/_constants.py
  tobiko/openstack/octavia/_deployers.py
  tobiko/openstack/octavia/_load_balancer.py
  tobiko/openstack/octavia/_validators.py
  tobiko/openstack/octavia/_waiters.py
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_octavia.py
  tobiko/openstack/stacks/octavia/listener.yaml
  tobiko/openstack/stacks/octavia/load_balancer.yaml
  tobiko/openstack/stacks/octavia/member.yaml
  tobiko/openstack/stacks/octavia/pool.yaml
  tobiko/tests/faults/octavia/test_faults.py
  tobiko/tests/faults/octavia/test_services.py
  tobiko/tests/scenario/octavia/test_traffic.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update latest stable tag to 0.6.10
  infrared_plugin/roles/tobiko-ir-init/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add upper-constraints file to the RTD requirements file
  doc/readthedocs_requirements.txt
Due: none

Add readthedocs.yaml configuration file
  .readthedocs.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add retries to find created ports at test_ovsdb_transation
  tobiko/openstack/tests/_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Use proper ceritificate when TLS-e is configured
  tobiko/openstack/octavia/_deployers.py
  tobiko/openstack/openstacksdkclient/_client.py
  tobiko/tripleo/config.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Improve logs for test_alive_agents_are_consistent_along_time
  tobiko/openstack/tests/_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[test_0_vlan_ip_addresses] Fix error message when IPs are missing
  tobiko/tests/scenario/neutron/test_trunk.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Fix Octavia Active/Standby tests
  tobiko/tests/faults/octavia/test_faults.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Fix Octavia OVN provider scenario tests
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_octavia.py
  tobiko/tests/scenario/octavia/test_traffic.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

TestNetworkNoFipStackFixture should not be cleaned up
  tobiko/openstack/tests/_nova.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Increase timeout at test_alive_agents_are_consistent_along_time
  tobiko/openstack/tests/_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update latest stable tag to 0.6.11
  infrared_plugin/roles/tobiko-ir-init/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Avoid concurrency issues when creating Cirros and Ubuntu images
  tobiko/openstack/stacks/_cirros.py
  tobiko/openstack/stacks/_ubuntu.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

podman error 137 is valid when killing ovn_controller
  tobiko/tests/faults/neutron/test_agents.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

workaround for filebeat: add newline at the end of xml reports
  roles/tobiko-collect/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Check containers are running after neutron services have been restarted
  tobiko/tests/faults/neutron/test_agents.py
  tobiko/tripleo/containers.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Align check of nodes responsiveness for all the cases.
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Make podman_version_3 method less verbose
  tobiko/podman/_client.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add octavia health checks to faults/ha tests
  tobiko/openstack/octavia/__init__.py
  tobiko/openstack/octavia/_client.py
  tobiko/openstack/octavia/_constants.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Make check_no_duplicate_ips function more verbose
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Revert "Regenerate HTML report files after any test case execution"
  tobiko/tests/conftest.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Adapt test_soft_reboot_computes_recovery to Amphora LBs
  tobiko/tests/faults/ha/cloud_disruptions.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Path conditions:
  tobiko-devstack-functional: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/)
  tobiko-devstack-functional-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-ubuntu-bionic: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/)
  tobiko-devstack-faults-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-infrared: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-centos-7: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-fedora: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-ubuntu: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-devstack-octavia-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-train: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-tripleo-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-tripleo-faults: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
