Repository slawqo/tobiko: changes, and which Zuul jobs are due for each by the changed paths.
All: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Path conditions:
  tobiko-devstack-functional: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/)
  tobiko-devstack-functional-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-functional-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-8: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-ubuntu-bionic: (unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/) or (unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/)
  tobiko-devstack-faults-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/, ^infrared_plugin/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-infrared: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-centos-7: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-fedora: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-infrared-ubuntu: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/faults/
  tobiko-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-devstack-octavia-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-train: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-tripleo-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-tripleo-faults: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/

Update find command wrapper
  tobiko/shell/find.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update shell connection tools
  tobiko/shell/sh/_connection.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Do not fail when a certain python version is not available
  roles/tobiko-ensure-python3/tasks/install.yaml
  roles/tobiko-run/tasks/run.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Ignore failure when showing last git commit details
  infrared_plugin/roles/tobiko-ir-deploy/tasks/main.yaml
  roles/tests/Vagrantfile
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Avoid using sudo for reading L3 conf file on localhost
  tobiko/openstack/neutron/_agent.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

No need to use sudo for looking for ip command
  tobiko/tests/functional/shell/test_ip.py
  tobiko/tests/functional/shell/test_ping.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-ovn-functional, tobiko-tripleo-functional

Test shiftstack tools only with active scifstack nodes
  tobiko/tests/functional/shiftstack/test_neutron.py
  tobiko/tests/functional/shiftstack/test_stacks.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-ovn-functional, tobiko-tripleo-functional

Add tobiko setup document
  doc/source/contributor/index.rst
  doc/source/contributor/setup_tobiko_workstation.rst
Due: none

Source /etc/profile before importing env variables from remote host
  tobiko/shell/sh/_connection.py
  tobiko/tests/functional/shell/sh/test_connection.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Refactor Keystone integration tools
  tobiko/openstack/keystone/__init__.py
  tobiko/openstack/keystone/_clouds_file.py
  tobiko/openstack/keystone/_credentials.py
  tobiko/openstack/keystone/_session.py
  tobiko/openstack/keystone/config.py
  tobiko/openstack/openstackclient/_client.py
  tobiko/shiftstack/_keystone.py
  tobiko/shiftstack/_skip.py
  tobiko/shiftstack/config.py
  tobiko/tests/functional/tripleo/test_overcloud.py
  tobiko/tests/functional/tripleo/test_undercloud.py
  tobiko/tests/unit/openstack/keystone/test_clouds_file.py
  tobiko/tests/unit/openstack/keystone/test_credentials.py
  tobiko/tests/unit/openstack/keystone/test_session.py
  tobiko/tripleo/__init__.py
  tobiko/tripleo/_overcloud.py
  tobiko/tripleo/_undercloud.py
  tobiko/tripleo/config.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update upper-requirements.txt
  upper-constraints.txt
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update Infrared jobs
  zuul.d/infrared.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update OpenStack jobs
  .pre-commit-config.yaml
  Dockerfile
  bindep.txt
  docker-compose.yml
  tox.ini
  zuul.d/docker.yaml
  zuul.d/project.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Remove Docker Infrared job
  zuul.d/docker.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Add pytest-subtests plugin
  extra-requirements.txt
  upper-constraints.txt
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Use a property to get undercloud key_filename SSH parameter
  tobiko/tripleo/_undercloud.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Run nested test cases as sub-tests
  tobiko/__init__.py
  tobiko/common/_case.py
  tobiko/common/_fixture.py
  tobiko/common/_retry.py
  tobiko/common/_testcase.py
  tobiko/config.py
  tobiko/run/_run.py
  tobiko/tests/conftest.py
  tobiko/tests/functional/run/test_run.py
  tobiko/tests/unit/_case.py
  tobiko/tests/unit/openstack/keystone/test_credentials.py
  tobiko/tests/unit/test_case.py
  zuul.d/docker.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Refactor Ubuntu image stack
  infrared_plugin/plugin.spec
  roles/tobiko-configure/defaults/main.yaml
  tobiko/openstack/glance/config.py
  tobiko/openstack/stacks/_ubuntu.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Revert "Switch to Fedora cloud image version 35"
  tobiko/openstack/stacks/_fedora.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix lower_version: versions cannot be negative numbers
  tobiko/tests/functional/tripleo/test_overcloud.py
  tobiko/tests/functional/tripleo/test_undercloud.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-ovn-functional, tobiko-tripleo-functional

[RAFT] Fix OVN container names when RAFT is used
  tobiko/tripleo/_overcloud.py
  tobiko/tripleo/containers.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Raise NoSuchKeystoneCredentials when credentials files are not found
  tobiko/tripleo/_undercloud.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[Docs] Add new document about how to review changes
  doc/source/contributor/index.rst
  doc/source/contributor/reviewer.rst
Due: none

Reset tox_env and other params for every test workflow step
  roles/tobiko-tox/tasks/tox.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[IR plugin] Ensure auto ssh key exchange in the test host
  infrared_plugin/roles/tobiko-ir-before-run/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[RAFT] adapt to changes in ovn-northd processes
  tobiko/tripleo/processes.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

[RAFT] skip test_ovn_dbs_validations when RAFT is configured
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Skip ovn db bindings validations when ssl is used
  tobiko/openstack/tests/_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix RecursionError at class TripleoTopologyNode
  tobiko/tripleo/_topology.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Revert "Workaround to remove tests without name from xml report files"
  roles/tobiko-collect/files/remove_tests_withoutname_fromxmlreport.py
  roles/tobiko-collect/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

replace the mariadb deamon for ops17
  tobiko/tests/faults/ha/cloud_disruptions.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Remove subnet tests from test_network
  tobiko/tests/functional/openstack/neutron/test_network.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-ovn-functional, tobiko-tripleo-functional

Retry clonning the tobiko repository
  infrared_plugin/roles/tobiko-ir-deploy/tasks/main.yaml
Due: tobiko-devstack-functional, tobiko-devstack-faults-ubuntu-bionic, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Configure limit of opened files for the test runner process
  tools/run_tests.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Modify test_ovn_dbs_validations to support RAFT
  tobiko/openstack/tests/__init__.py
  tobiko/openstack/tests/_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Update testing nodes to Fedora 36
  zuul.d/infrared.yaml
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Modify test_ovn_dbs_validations method to work with RAFT part2
  tobiko/openstack/tests/__init__.py
  tobiko/openstack/tests/_neutron.py
  tobiko/openstack/topology/__init__.py
  tobiko/openstack/topology/_topology.py
  tobiko/tripleo/_topology.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Enable OVN DB health checks when RAFT is enabled
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-faults

Add basic RAFT health checks
  tobiko/openstack/tests/__init__.py
  tobiko/openstack/tests/_neutron.py
  tobiko/tests/faults/neutron/test_raft.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults

Verify RAFT DB inter-cluster communication
  tobiko/openstack/tests/_neutron.py
Due: tobiko-devstack-functional, tobiko-devstack-functional-centos-8, tobiko-devstack-functional-ubuntu-bionic, tobiko-devstack-functional-ubuntu-focal, tobiko-devstack-faults-centos-8, tobiko-devstack-faults-ubuntu-bionic, tobiko-devstack-faults-ubuntu-focal, tobiko-infrared, tobiko-infrared-centos-7, tobiko-infrared-fedora, tobiko-infrared-ubuntu, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-tripleo-functional, tobiko-tripleo-faults
